{% extends 'main.html' %}

{% block title %}Update profile{% endblock title %}

{% block content %}
<style>
    a{
        text-decoration:none;
        color:white;
    }
    #update{
        display:grid;
        place-items:center;    
        padding:10%      
    }
    body{
        background-color:black;
        color:white;
    }
</style>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}


<div id='update'>
    <h1>Update Profile</h1>
    <br>
    <form class='container-sm' method='POST' action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <div class='text-center'>
            <a class='btn btn-sm btn-outline-secondary' href={{request.META.HTTP_REFERER}}>Back</a>
            <input class='btn btn btn-danger' type='submit' value='Update' />
        </div>
    </form>
</div>

{% endblock content %}