{% extends 'main.html' %}

{% block title %}delete{% endblock title %}

{% block content %}
<style>
    body{
        background-color:black;
        color:white;
    }
    #delete{
        display:grid;
        place-items:center;
        margin-top:20%;
    }
</style>
<div id='delete'>
    <form method='POST' action=''>
        {% csrf_token %}
        <h3>Are you sure ?</h3>
        <p>Do you want to delete {{obj}} </p>
        <a href={{request.META.HTTP_REFERER}} class='btn btn-sm btn-light mx-2'>Back</a>
        <input type='submit' value='Confirm' class='btn btn-outline-primary' />
    </form>
</div>
{% endblock content %}