{% extends 'main.html' %}

{% block title %}{{rooms.name}}{% endblock title %}

{% block content %}
<style>
    #password{
        display:grid;
        place-items:center;
        padding-top:20%;
        color:white;
    }
    body{
        background-color:black
    }
</style>



<div id='password' >
    <h1>Host asking for password!</h1>
    <br>
    <form method='POST' action=''>
        {% csrf_token %}
        <input type='password' name='password' placeholder='Room password' class='form-control' /> 
        <br>
        <a class='btn btn-sm btn-outline-light' href={{request.META.HTTP_REFERER}}>Back</a>
        <input type='submit' class='btn btn-success' value='Confirm' />
    </form>
</div>

{% endblock content %}